// @import "../../assets/styles/variables";

.button-box-solid {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.button-box-solid .button-label {
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button-box-solid .dim {
  background-color: $lightbuttondim-pressed;
  left: 0;
  position: absolute;
  top: 0;
}

.button-box-solid.large {
  border-radius: 10px;
  gap: 8px;
  height: 56px;
  padding: 0px 16px;
}

.button-box-solid {
  &.disabled {
    background-color: $lightbuttonbackground-disabled;
  }
}


.button-box-solid.small {
  border-radius: 6px;
  gap: 6px;
  height: 32px;
  padding: 0px 12px;
}

.button-box-solid.medium {
  border-radius: 8px;
  gap: 6px;
  height: 44px;
  padding: 0px 16px;
}

.button-box-solid.pressed.tertiary {
  background-color: $lightbuttonbackground-tertiary-enabled;
}

.button-box-solid.enabled.tertiary {
  background-color: $lightbuttonbackground-tertiary-enabled;
}

.button-box-solid.error-false.enabled.primary {
  background-color: $lightuipoint;
}

.button-box-solid.enabled.error-true.secondary {
  background-color: $lightbuttonbackground-secondary-error;
}

.button-box-solid.pressed.error-true.primary {
  background-color: $lightuinegative;
}

.button-box-solid.pressed.error-false.primary {
  background-color: $lightuipoint;
}

.button-box-solid.pressed.error-false.secondary {
  background-color: $lightbuttonbackground-secondary-enabled;
}

.button-box-solid.enabled.error-true.primary {
  background-color: $lightuinegative;
}

.button-box-solid.pressed.error-true.secondary {
  background-color: $lightbuttonbackground-secondary-error;
}

.button-box-solid.error-false.enabled.secondary {
  background-color: $lightbuttonbackground-secondary-enabled;
}

.button-box-solid.large .button-label {
  font-family: $subtitle-s3-i-medium-15-font-family;
  font-size: $subtitle-s3-i-medium-15-font-size;
  font-style: $subtitle-s3-i-medium-15-font-style;
  font-weight: $subtitle-s3-i-medium-15-font-weight;
  letter-spacing: $subtitle-s3-i-medium-15-letter-spacing;
  line-height: $subtitle-s3-i-medium-15-line-height;
}

.button-box-solid.disabled .button-label {
  color: $lightbuttontext-didsabled;
}

.button-box-solid.small .button-label {
  font-family: $caption-c1-i-medium-13-font-family;
  font-size: $caption-c1-i-medium-13-font-size;
  font-style: $caption-c1-i-medium-13-font-style;
  font-weight: $caption-c1-i-medium-13-font-weight;
  letter-spacing: $caption-c1-i-medium-13-letter-spacing;
  line-height: $caption-c1-i-medium-13-line-height;
}

.button-box-solid.medium .button-label {
  font-family: $subtitle-s4-i-medium-14-font-family;
  font-size: $subtitle-s4-i-medium-14-font-size;
  font-style: $subtitle-s4-i-medium-14-font-style;
  font-weight: $subtitle-s4-i-medium-14-font-weight;
  letter-spacing: $subtitle-s4-i-medium-14-letter-spacing;
  line-height: $subtitle-s4-i-medium-14-line-height;
}

.button-box-solid.pressed.primary .button-label {
  color: $lightuiwhite;
}

.button-box-solid.enabled.primary .button-label {
  color: $lightuiwhite;
}

.button-box-solid.enabled.error-true.secondary .button-label {
  color: $lightuinegative;
}

.button-box-solid.error-false.enabled.tertiary .button-label {
  color: $lightbuttontext-secondary;
}

.button-box-solid.pressed.error-false.tertiary .button-label {
  color: $lightbuttontext-secondary;
}

.button-box-solid.enabled.error-true.tertiary .button-label {
  color: $lightuinegative;
}

.button-box-solid.pressed.error-true.tertiary .button-label {
  color: $lightuinegative;
}

.button-box-solid.pressed.error-false.secondary .button-label {
  color: $globalmintmint-60;
}

.button-box-solid.pressed.error-true.secondary .button-label {
  color: $lightuinegative;
}

.button-box-solid.error-false.enabled.secondary .button-label {
  color: $globalmintmint-60;
}

.button-box-solid.large .dim {
  height: 56px;
  width: 120px;
}

.button-box-solid.medium .dim {
  height: 44px;
  width: 113px;
}

.button-box-solid.small .dim {
  height: 32px;
  width: 100px;
}
