// Global color
// 1. Brand
$color-global-mint90: #003B40 !default;
$color-global-mint80: #004C53 !default;
$color-global-mint70: #006D78 !default;
$color-global-mint60: #008F9C !default;
$color-global-mint50: #00A8B8 !default;
$color-global-mint40: #52C4CF !default;
$color-global-mint30: #80D8E0 !default;
$color-global-mint20: #ABE5EB !default;
$color-global-mint10: #D3F1F5 !default;
$color-global-mint5: #EFFBFB !default;

// 2. Gray
$color-global-gray90: #0C0E0F !default;
$color-global-gray85: #1B1E21 !default;
$color-global-gray80: #282D32 !default;
$color-global-gray70: #3E454B !default;
$color-global-gray60: #515961 !default;
$color-global-gray50: #69737D !default;
$color-global-gray40: #828E99 !default;
$color-global-gray30: #A2ADB8 !default;
$color-global-gray20: #C1CBD4 !default;
$color-global-gray10: #DBE2E8 !default;
$color-global-gray5: #F0F3F5 !default;

// 3. Black & White
$color-global-black: #000000 !default;
$color-global-white: #FFFFFF !default;


// 4. State
// 4.1. Red : Negative
$color-global-red90: #5E1D16 !default;
$color-global-red80: #75251C !default;
$color-global-red70: #A3372C !default;
$color-global-red60: #C94234 !default;
$color-global-red50: #EB503F !default;
$color-global-red40: #F78073 !default;
$color-global-red30: #FCA69D !default;
$color-global-red20: #FFCAC4 !default;
$color-global-red10: #FFE3E0 !default;
$color-global-red5: #FEF3F1 !default;

// 4.2. Yellow : Warning
$color-global-yellow90: #593800 !default;
$color-global-yellow80: #754A00 !default;
$color-global-yellow70: #A86B00 !default;
$color-global-yellow60: #D18400 !default;
$color-global-yellow50: #FA9F02 !default;
$color-global-yellow40: #FFBB45 !default;
$color-global-yellow30: #FFCC73 !default;
$color-global-yellow20: #FFDFA6 !default;
$color-global-yellow10: #FEEDCE !default;
$color-global-yellow5: #FFF7EB !default;


// 4.3. Green : Positive
$color-global-green90: #07331A !default;
$color-global-green80: #094222 !default;
$color-global-green70: #0B6331 !default;
$color-global-green60: #158244 !default;
$color-global-green50: #1A9C52 !default;
$color-global-green40: #4EBA7C !default;
$color-global-green30: #86D1A6 !default;
$color-global-green20: #B1E3C7 !default;
$color-global-green10: #DAF2E5 !default;
$color-global-green5: #F0FAF4 !default;


// 4.4. Blue : Informative
$color-global-blue90: #15244A !default;
$color-global-blue80: #152C66 !default;
$color-global-blue70: #1F3F8F !default;
$color-global-blue60: #2654C7 !default;
$color-global-blue50: #3E6FED !default;
$color-global-blue40: #6B95FF !default;
$color-global-blue30: #9CB8FF !default;
$color-global-blue20: #BFD1FF !default;
$color-global-blue10: #DEE7FF !default;
$color-global-blue5: #F0F4FF !default;


// 5. Palette
// 5.1. Purple
$color-global-purple90: #2D1D4F !default;
$color-global-purple80: #371F69 !default;
$color-global-purple70: #4A2B8C !default;
$color-global-purple60: #6638C2 !default;
$color-global-purple50: #8957F2 !default;
$color-global-purple40: #AF8AFF !default;
$color-global-purple30: #C7ABFF !default;
$color-global-purple20: #DAC9FF !default;
$color-global-purple10: #EBE3FF !default;
$color-global-purple5: #F6F4FE !default;

// 5.2. Orange
$color-global-orange90: #592B07 !default;
$color-global-orange80: #73370A !default;
$color-global-orange70: #A64F0F !default;
$color-global-orange60: #CC6316 !default;
$color-global-orange50: #FA7D20 !default;
$color-global-orange40: #FF984A !default;
$color-global-orange30: #FFB680 !default;
$color-global-orange20: #FFCFAB !default;
$color-global-orange10: #FFE6D3 !default;
$color-global-orange5: #FEF4ED !default;


$body-b1-i-medium-15-font-family: 'SpoqaHan Sans Neo-Medium', Helvetica;
$body-b1-i-medium-15-font-size: 15px;
$body-b1-i-medium-15-font-style: normal;
$body-b1-i-medium-15-font-weight: 500;
$body-b1-i-medium-15-letter-spacing: 0px;
$body-b1-i-medium-15-line-height: 25px;
$body-b1-i-regular-15-font-family: 'SpoqaHan Sans Neo-Regular', Helvetica;
$body-b1-i-regular-15-font-size: 15px;
$body-b1-i-regular-15-font-style: normal;
$body-b1-i-regular-15-font-weight: 400;
$body-b1-i-regular-15-letter-spacing: 0px;
$body-b1-i-regular-15-line-height: 25px;
$body-b2-i-medium-14-font-family: 'SpoqaHan Sans Neo-Medium', Helvetica;
$body-b2-i-medium-14-font-size: 14px;
$body-b2-i-medium-14-font-style: normal;
$body-b2-i-medium-14-font-weight: 500;
$body-b2-i-medium-14-letter-spacing: 0px;
$body-b2-i-medium-14-line-height: 23px;
$body-b2-i-regular-14-font-family: 'SpoqaHan Sans Neo-Regular', Helvetica;
$body-b2-i-regular-14-font-size: 14px;
$body-b2-i-regular-14-font-style: normal;
$body-b2-i-regular-14-font-weight: 400;
$body-b2-i-regular-14-letter-spacing: 0px;
$body-b2-i-regular-14-line-height: 23px;
$body-b3-i-medium-13-font-family: 'SpoqaHan Sans Neo-Medium', Helvetica;
$body-b3-i-medium-13-font-size: 13px;
$body-b3-i-medium-13-font-style: normal;
$body-b3-i-medium-13-font-weight: 500;
$body-b3-i-medium-13-letter-spacing: 0px;
$body-b3-i-medium-13-line-height: 21px;
$body-b3-i-regular-13-font-family: 'SpoqaHan Sans Neo-Regular', Helvetica;
$body-b3-i-regular-13-font-size: 13px;
$body-b3-i-regular-13-font-style: normal;
$body-b3-i-regular-13-font-weight: 400;
$body-b3-i-regular-13-letter-spacing: 0px;
$body-b3-i-regular-13-line-height: 21px;
$caption-c1-i-medium-13-font-family: 'SpoqaHan Sans Neo-Medium', Helvetica;
$caption-c1-i-medium-13-font-size: 13px;
$caption-c1-i-medium-13-font-style: normal;
$caption-c1-i-medium-13-font-weight: 500;
$caption-c1-i-medium-13-letter-spacing: 0px;
$caption-c1-i-medium-13-line-height: 19px;
$caption-c1-i-regular-13-font-family: 'SpoqaHan Sans Neo-Regular', Helvetica;
$caption-c1-i-regular-13-font-size: 13px;
$caption-c1-i-regular-13-font-style: normal;
$caption-c1-i-regular-13-font-weight: 400;
$caption-c1-i-regular-13-letter-spacing: 0px;
$caption-c1-i-regular-13-line-height: 19px;
$caption-c2-i-medium-12-font-family: 'SpoqaHan Sans Neo-Medium', Helvetica;
$caption-c2-i-medium-12-font-size: 12px;
$caption-c2-i-medium-12-font-style: normal;
$caption-c2-i-medium-12-font-weight: 500;
$caption-c2-i-medium-12-letter-spacing: 0px;
$caption-c2-i-medium-12-line-height: 18px;
$caption-c2-i-regular-12-font-family: 'SpoqaHan Sans Neo-Regular', Helvetica;
$caption-c2-i-regular-12-font-size: 12px;
$caption-c2-i-regular-12-font-style: normal;
$caption-c2-i-regular-12-font-weight: 400;
$caption-c2-i-regular-12-letter-spacing: 0px;
$caption-c2-i-regular-12-line-height: 18px;
$dark-large-down: 0px 0px 0px 0px rgba(0, 0, 0, 0);
$dark-large-up: 0px 0px 0px 0px rgba(0, 0, 0, 0);
$dark-small: 0px 0px 0px 0px rgba(0, 0, 0, 0);
$darkavatarbackground: rgba(40, 45, 50, 1);
$darkavataricon-background-upload: rgba(81, 89, 97, 1);
$darkavataricon-user: rgba(62, 69, 75, 1);
$darkbackgroundbase: rgba(12, 14, 15, 1);
$darkbackgroundelevation: rgba(40, 45, 50, 1);
$darkbackgroundgroup: rgba(27, 30, 33, 1);
$darkbackgroundtransparent: rgba(255, 255, 255, 0);
$darkborderactive: rgba(255, 255, 255, 1);
$darkborderbasic: rgba(62, 69, 75, 1);
$darkbuttonbackground-disabled: rgba(40, 45, 50, 1);
$darkbuttonbackground-secondary-enabled: rgba(235, 251, 251, 1);
$darkbuttonbackground-secondary-error: rgba(254, 243, 241, 1);
$darkbuttonbackground-tertiary-enabled: rgba(62, 69, 75, 1);
$darkbuttondim-pressed: rgba(0, 0, 0, 0.4);
$darkbuttontext-didsabled: rgba(105, 115, 125, 1);
$darkbuttontext-secondary: rgba(193, 203, 212, 1);
$darkcheckboxicon-unselected: rgba(62, 69, 75, 1);
$darkcommentbackground-me: rgba(0, 59, 64, 1);
$darkdimbasic: rgba(0, 0, 0, 0.6);
$darkdividerdot: rgba(81, 89, 97, 1);
$darkdividerline-base: rgba(40, 45, 50, 1);
$darkdividerline-elevation: rgba(62, 69, 75, 1);
$darkdividerline-group: rgba(40, 45, 50, 1);
$darkmarkerbackground-cluster-city-label: rgba(0, 143, 156, 1);
$darkmarkerbackground-cluster-city-number-inactive: rgba(0, 176, 185, 1);
$darkmarkerbackground-cluster-province: rgba(0, 176, 185, 1);
$darkmarkerborder-cluster: rgba(0, 143, 156, 1);
$darkmarkertext-cluster-city-active: rgba(0, 143, 156, 1);
$darkpaginationdot-transparent-inactive: rgba(255, 255, 255, 0.4);
$darkshadowthick: rgba(0, 0, 0, 0);
$darksnack-barbackground: rgba(62, 69, 75, 1);
$darkswitchbackground-active-disabled: rgba(0, 76, 83, 1);
$darkswitchbackground-inactive: rgba(105, 115, 125, 1);
$darkswitchbackground-inactive-disabled: rgba(62, 69, 75, 1);
$darktest-bottom-navigationicon-active: rgba(250, 159, 2, 1);
$darktest-bottom-navigationicon-active-2: rgba(134, 209, 166, 1);
$darktest-bottom-navigationpoint: rgba(250, 159, 2, 1);
$darktest-bottom-navigationtext-active: rgba(250, 159, 2, 1);
$darktest-bottom-navigationtext-active-2: rgba(78, 186, 124, 1);
$darktest-buttonbackground-negative-primary-pressed: rgba(235, 80, 63, 0.7);
$darktest-buttonbackground-negative-secondary-disabled: rgba(40, 45, 50, 1);
$darktest-buttonbackground-negative-secondary-pressed: rgba(235, 80, 63, 0.1);
$darktest-buttonbackground-positive-primary-disabled: rgba(40, 45, 50, 1);
$darktest-buttonbackground-positive-secondary-pressed: rgba(0, 168, 184, 0.1);
$darktest-buttonbackground-positve-primary-pressed: rgba(0, 168, 184, 0.7);
$darktest-buttonborder-negative-secondary-disabled: rgba(62, 69, 75, 1);
$darktest-buttonborder-negative-secondary-pressed: rgba(235, 80, 63, 0.7);
$darktest-buttonborder-positive-secondary-disabled: rgba(62, 69, 75, 1);
$darktest-buttonborder-positive-secondary-pressed: rgba(0, 168, 184, 0.7);
$darktest-buttontext-negative-secondary-disabled: rgba(81, 89, 97, 1);
$darktest-buttontext-negative-secondary-pressed: rgba(235, 80, 63, 0.7);
$darktest-buttontext-positive-secondary-disabled: rgba(81, 89, 97, 1);
$darktest-buttontext-positive-secondary-enabled: rgba(0, 168, 184, 1);
$darktest-buttontext-positive-secondary-pressed: rgba(0, 168, 184, 0.7);
$darktext-fieldbackground-disabled: rgba(40, 45, 50, 1);
$darktext-fieldbackground-enable: rgba(40, 45, 50, 1);
$darktext-fieldtext-disabled: rgba(105, 115, 125, 1);
$darktext-fieldtext-label-disabled: rgba(105, 115, 125, 1);
$darktext-fieldtext-label-enable: rgba(195, 205, 214, 1);
$darktext-fieldtext-placeholder: rgba(105, 115, 125, 1);
$darkuicaption: rgba(105, 115, 125, 1);
$darkuiinformative: rgba(62, 111, 237, 1);
$darkuinegative: rgba(235, 80, 63, 1);
$darkuipoint: rgba(0, 168, 184, 1);
$darkuipoint-text: rgba(0, 143, 156, 1);
$darkuipositive: rgba(26, 156, 82, 1);
$darkuiprimary: rgba(255, 255, 255, 1);
$darkuisecondary: rgba(162, 173, 184, 1);
$darkuitertiary: rgba(130, 142, 153, 1);
$darkuiwarning: rgba(250, 159, 2, 1);
$darkuiwhite: rgba(255, 255, 255, 1);
$globalblackwhiteblack: rgba(13, 14, 15, 1);
$globalblackwhitewhite: rgba(255, 255, 255, 1);
$globalblueblue-10: rgba(222, 231, 255, 1);
$globalblueblue-20: rgba(191, 209, 255, 1);
$globalblueblue-30: rgba(156, 184, 255, 1);
$globalblueblue-40: rgba(107, 149, 255, 1);
$globalblueblue-5: rgba(240, 244, 255, 1);
$globalblueblue-50: rgba(62, 111, 237, 1);
$globalblueblue-60: rgba(38, 84, 199, 1);
$globalblueblue-70: rgba(31, 63, 143, 1);
$globalblueblue-80: rgba(21, 44, 102, 1);
$globalblueblue-90: rgba(21, 36, 74, 1);
$globalgraygray-10: rgba(219, 226, 232, 1);
$globalgraygray-20: rgba(193, 203, 212, 1);
$globalgraygray-30: rgba(162, 173, 184, 1);
$globalgraygray-40: rgba(130, 142, 153, 1);
$globalgraygray-5: rgba(240, 243, 245, 1);
$globalgraygray-50: rgba(105, 115, 125, 1);
$globalgraygray-60: rgba(81, 89, 97, 1);
$globalgraygray-70: rgba(62, 69, 75, 1);
$globalgraygray-80: rgba(40, 45, 50, 1);
$globalgraygray-85: rgba(27, 30, 33, 1);
$globalgraygray-90: rgba(13, 14, 15, 1);
$globalgreengreen-10: rgba(218, 242, 229, 1);
$globalgreengreen-20: rgba(177, 227, 199, 1);
$globalgreengreen-30: rgba(134, 209, 166, 1);
$globalgreengreen-40: rgba(78, 186, 124, 1);
$globalgreengreen-5: rgba(240, 250, 244, 1);
$globalgreengreen-50: rgba(26, 156, 82, 1);
$globalgreengreen-60: rgba(21, 130, 68, 1);
$globalgreengreen-70: rgba(11, 99, 49, 1);
$globalgreengreen-80: rgba(9, 66, 34, 1);
$globalgreengreen-90: rgba(7, 51, 26, 1);
$globalmintmint-10: rgba(211, 241, 245, 1);
$globalmintmint-20: rgba(171, 229, 235, 1);
$globalmintmint-30: rgba(128, 216, 224, 1);
$globalmintmint-40: rgba(82, 196, 207, 1);
$globalmintmint-5: rgba(235, 251, 251, 1);
$globalmintmint-50: rgba(0, 168, 184, 1);
$globalmintmint-60: rgba(0, 143, 156, 1);
$globalmintmint-70: rgba(0, 109, 120, 1);
$globalmintmint-80: rgba(0, 76, 83, 1);
$globalmintmint-90: rgba(0, 59, 64, 1);
$globalorangeorange-10: rgba(255, 230, 211, 1);
$globalorangeorange-20: rgba(255, 207, 171, 1);
$globalorangeorange-30: rgba(255, 182, 128, 1);
$globalorangeorange-40: rgba(255, 152, 74, 1);
$globalorangeorange-5: rgba(254, 244, 237, 1);
$globalorangeorange-50: rgba(250, 125, 32, 1);
$globalorangeorange-60: rgba(204, 99, 22, 1);
$globalorangeorange-70: rgba(166, 79, 15, 1);
$globalorangeorange-80: rgba(115, 55, 10, 1);
$globalorangeorange-90: rgba(89, 43, 7, 1);
$globalpurple-10: rgba(235, 227, 255, 1);
$globalpurple-20: rgba(218, 201, 255, 1);
$globalpurple-30: rgba(199, 171, 255, 1);
$globalpurple-40: rgba(175, 138, 255, 1);
$globalpurple-5: rgba(246, 244, 254, 1);
$globalpurple-50: rgba(137, 87, 242, 1);
$globalpurple-60: rgba(102, 56, 194, 1);
$globalpurple-70: rgba(74, 43, 140, 1);
$globalpurple-80: rgba(55, 31, 105, 1);
$globalpurple-90: rgba(45, 29, 79, 1);
$globalredred-10: rgba(255, 227, 224, 1);
$globalredred-20: rgba(255, 202, 196, 1);
$globalredred-30: rgba(252, 166, 157, 1);
$globalredred-40: rgba(247, 128, 115, 1);
$globalredred-5: rgba(254, 243, 241, 1);
$globalredred-50: rgba(235, 80, 63, 1);
$globalredred-60: rgba(201, 66, 52, 1);
$globalredred-70: rgba(163, 55, 44, 1);
$globalredred-80: rgba(117, 37, 28, 1);
$globalredred-90: rgba(94, 29, 22, 1);
$globalyellowyellow-10: rgba(254, 237, 206, 1);
$globalyellowyellow-20: rgba(255, 223, 166, 1);
$globalyellowyellow-30: rgba(255, 204, 115, 1);
$globalyellowyellow-40: rgba(255, 187, 69, 1);
$globalyellowyellow-5: rgba(255, 247, 235, 1);
$globalyellowyellow-50: rgba(250, 159, 2, 1);
$globalyellowyellow-60: rgba(209, 132, 0, 1);
$globalyellowyellow-70: rgba(168, 107, 0, 1);
$globalyellowyellow-80: rgba(117, 74, 0, 1);
$globalyellowyellow-90: rgba(89, 56, 0, 1);
$heading-h1-i-bold-28-font-family: 'SpoqaHan Sans Neo-Bold', Helvetica;
$heading-h1-i-bold-28-font-size: 28px;
$heading-h1-i-bold-28-font-style: normal;
$heading-h1-i-bold-28-font-weight: 700;
$heading-h1-i-bold-28-letter-spacing: -0.20000000298023224px;
$heading-h1-i-bold-28-line-height: 42px;
$heading-h2-i-bold-24-font-family: 'SpoqaHan Sans Neo-Bold', Helvetica;
$heading-h2-i-bold-24-font-size: 24px;
$heading-h2-i-bold-24-font-style: normal;
$heading-h2-i-bold-24-font-weight: 700;
$heading-h2-i-bold-24-letter-spacing: -0.20000000298023224px;
$heading-h2-i-bold-24-line-height: 36px;
$heading-h3-i-bold-20-font-family: 'SpoqaHan Sans Neo-Bold', Helvetica;
$heading-h3-i-bold-20-font-size: 20px;
$heading-h3-i-bold-20-font-style: normal;
$heading-h3-i-bold-20-font-weight: 700;
$heading-h3-i-bold-20-letter-spacing: -0.20000000298023224px;
$heading-h3-i-bold-20-line-height: 30px;
$light-large-down: 0px 4px 12px 0px rgba(0, 0, 0, 0.16);
$light-large-up: 0px -4px 12px 0px rgba(0, 0, 0, 0.16);
$light-small: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
$lightavatarbackground: rgba(219, 226, 232, 1);
$lightavataricon-background-upload: rgba(162, 173, 184, 1);
$lightavataricon-user: rgba(193, 203, 212, 1);
$lightbackgroundbase: rgba(240, 243, 245, 1);
$lightbackgroundelevation: rgba(255, 255, 255, 1);
$lightbackgroundgroup: rgba(255, 255, 255, 1);
$lightbackgroundtransparent: rgba(255, 255, 255, 0);
$lightborderactive: rgba(13, 14, 15, 1);
$lightborderbasic: rgba(219, 226, 232, 1);
$lightbuttonbackground-disabled: rgba(219, 226, 232, 1);
$lightbuttonbackground-secondary-enabled: rgba(235, 251, 251, 1);
$lightbuttonbackground-secondary-error: rgba(254, 243, 241, 1);
$lightbuttonbackground-tertiary-enabled: rgba(240, 242, 245, 1);
$lightbuttondim-pressed: rgba(0, 0, 0, 0.24);
$lightbuttontext-didsabled: rgba(162, 173, 184, 1);
$lightbuttontext-secondary: rgba(105, 115, 125, 1);
$lightcheckboxicon-unselected: rgba(193, 203, 212, 1);
$lightcommentbackground-me: rgba(235, 251, 251, 1);
$lightdimbasic: rgba(0, 0, 0, 0.6);
$lightdividerdot: rgba(219, 226, 232, 1);
$lightdividerline-base: rgba(219, 226, 232, 1);
$lightdividerline-elevation: rgba(240, 243, 245, 1);
$lightdividerline-group: rgba(240, 243, 245, 1);
$lightmarkerbackground-cluster-city-label: rgba(0, 143, 156, 1);
$lightmarkerbackground-cluster-city-number-inactive: rgba(0, 176, 185, 1);
$lightmarkerbackground-cluster-province: rgba(0, 176, 185, 1);
$lightmarkerborder-cluster: rgba(0, 143, 156, 1);
$lightmarkertext-cluster-city-active: rgba(0, 143, 156, 1);
$lightpaginationdot-transparent-inactive: rgba(255, 255, 255, 0.4);
$lightshadowthick: rgba(0, 0, 0, 0.16);
$lightshadowthin: rgba(0, 0, 0, 0.12);
$lightsnack-barbackground: rgba(40, 45, 50, 1);
$lightswitchbackground-active-disabled: rgba(171, 229, 235, 1);
$lightswitchbackground-inactive: rgba(162, 173, 184, 1);
$lightswitchbackground-inactive-disabled: rgba(219, 226, 232, 1);
$lighttest-bottom-navigationicon-active: rgba(235, 80, 63, 1);
$lighttest-bottom-navigationicon-active-2: rgba(137, 87, 242, 1);
$lighttest-bottom-navigationpoint: rgba(235, 80, 63, 1);
$lighttest-bottom-navigationtext-active: rgba(235, 80, 63, 1);
$lighttest-bottom-navigationtext-active-2: rgba(102, 56, 194, 1);
$lighttest-buttonbackground-negative-primary-pressed: rgba(235, 80, 63, 0.7);
$lighttest-buttonbackground-negative-secondary-disabled: rgba(219, 226, 232, 1);
$lighttest-buttonbackground-negative-secondary-pressed: rgba(235, 80, 63, 0.1);
$lighttest-buttonbackground-positive-primary-disabled: rgba(219, 226, 232, 1);
$lighttest-buttonbackground-positive-primary-pressed: rgba(0, 168, 184, 0.7);
$lighttest-buttonbackground-positive-secondary-pressed: rgba(0, 168, 184, 0.1);
$lighttest-buttonborder-negative-secondary-disabled: rgba(193, 203, 212, 1);
$lighttest-buttonborder-negative-secondary-pressed: rgba(235, 80, 63, 0.7);
$lighttest-buttonborder-positive-secondary-disabled: rgba(193, 203, 212, 1);
$lighttest-buttonborder-positive-secondary-pressed: rgba(0, 168, 184, 0.7);
$lighttest-buttontext-negative-secondary-disabled: rgba(162, 173, 184, 1);
$lighttest-buttontext-negative-secondary-pressed: rgba(235, 80, 63, 0.7);
$lighttest-buttontext-positive-secondary-disabled: rgba(162, 173, 184, 1);
$lighttest-buttontext-positive-secondary-enabled: rgba(0, 143, 156, 1);
$lighttest-buttontext-positive-secondary-pressed: rgba(0, 143, 156, 0.7);
$lighttext-fieldbackground-disabled: rgba(219, 226, 232, 1);
$lighttext-fieldbackground-enable: rgba(240, 243, 245, 1);
$lighttext-fieldtext-disabled: rgba(155, 167, 178, 1);
$lighttext-fieldtext-label-disabled: rgba(155, 167, 178, 1);
$lighttext-fieldtext-label-enable: rgba(105, 115, 125, 1);
$lighttext-fieldtext-placeholder: rgba(155, 167, 178, 1);
$lightuicaption: rgba(162, 173, 184, 1);
$lightuiinformative: rgba(62, 111, 237, 1);
$lightuinegative: rgba(235, 80, 63, 1);
$lightuipoint: rgba(0, 168, 184, 1);
$lightuipoint-text: rgba(0, 143, 156, 1);
$lightuipositive: rgba(26, 156, 82, 1);
$lightuiprimary: rgba(12, 14, 15, 1);
$lightuisecondary: rgba(105, 115, 125, 1);
$lightuitertiary: rgba(130, 142, 153, 1);
$lightuiwarning: rgba(250, 159, 2, 1);
$lightuiwhite: rgba(255, 255, 255, 1);
$subtitle-s1-i-bold-18-font-family: 'SpoqaHan Sans Neo-Bold', Helvetica;
$subtitle-s1-i-bold-18-font-size: 18px;
$subtitle-s1-i-bold-18-font-style: normal;
$subtitle-s1-i-bold-18-font-weight: 700;
$subtitle-s1-i-bold-18-letter-spacing: -0.10000000149011612px;
$subtitle-s1-i-bold-18-line-height: 27px;
$subtitle-s2-i-bold-16-font-family: 'SpoqaHan Sans Neo-Bold', Helvetica;
$subtitle-s2-i-bold-16-font-size: 16px;
$subtitle-s2-i-bold-16-font-style: normal;
$subtitle-s2-i-bold-16-font-weight: 700;
$subtitle-s2-i-bold-16-letter-spacing: 0px;
$subtitle-s2-i-bold-16-line-height: 24px;
$subtitle-s3-i-bold-15-font-family: 'SpoqaHan Sans Neo-Bold', Helvetica;
$subtitle-s3-i-bold-15-font-size: 15px;
$subtitle-s3-i-bold-15-font-style: normal;
$subtitle-s3-i-bold-15-font-weight: 700;
$subtitle-s3-i-bold-15-letter-spacing: 0px;
$subtitle-s3-i-bold-15-line-height: 22px;
$subtitle-s3-i-medium-15-font-family: 'SpoqaHan Sans Neo-Medium', Helvetica;
$subtitle-s3-i-medium-15-font-size: 15px;
$subtitle-s3-i-medium-15-font-style: normal;
$subtitle-s3-i-medium-15-font-weight: 500;
$subtitle-s3-i-medium-15-letter-spacing: 0px;
$subtitle-s3-i-medium-15-line-height: 22px;
$subtitle-s3-i-regular-15-font-family: 'SpoqaHan Sans Neo-Regular', Helvetica;
$subtitle-s3-i-regular-15-font-size: 15px;
$subtitle-s3-i-regular-15-font-style: normal;
$subtitle-s3-i-regular-15-font-weight: 400;
$subtitle-s3-i-regular-15-letter-spacing: 0px;
$subtitle-s3-i-regular-15-line-height: 22px;
$subtitle-s4-i-medium-14-font-family: 'SpoqaHan Sans Neo-Medium', Helvetica;
$subtitle-s4-i-medium-14-font-size: 14px;
$subtitle-s4-i-medium-14-font-style: normal;
$subtitle-s4-i-medium-14-font-weight: 500;
$subtitle-s4-i-medium-14-letter-spacing: -0.10000000149011612px;
$subtitle-s4-i-medium-14-line-height: 21px;
$subtitle-s4-i-regular-14-font-family: 'SpoqaHan Sans Neo-Regular', Helvetica;
$subtitle-s4-i-regular-14-font-size: 14px;
$subtitle-s4-i-regular-14-font-style: normal;
$subtitle-s4-i-regular-14-font-weight: 400;
$subtitle-s4-i-regular-14-letter-spacing: -0.10000000149011612px;
$subtitle-s4-i-regular-14-line-height: 21px;
$tiny-t-i-bold-10-font-family: 'SpoqaHan Sans Neo-Bold', Helvetica;
$tiny-t-i-bold-10-font-size: 10px;
$tiny-t-i-bold-10-font-style: normal;
$tiny-t-i-bold-10-font-weight: 700;
$tiny-t-i-bold-10-letter-spacing: 0px;
$tiny-t-i-bold-10-line-height: 15px;
$tiny-t-i-medium-10-font-family: 'SpoqaHan Sans Neo-Medium', Helvetica;
$tiny-t-i-medium-10-font-size: 10px;
$tiny-t-i-medium-10-font-style: normal;
$tiny-t-i-medium-10-font-weight: 500;
$tiny-t-i-medium-10-letter-spacing: 0px;
$tiny-t-i-medium-10-line-height: 15px;